extends layout

block content
  div#searchContainer
    ul#searchResultsList
  div#animeContainer
    div.titleDiv
      i.fa.fa-angle-left.fa-3x(aria-hidden='true')
      h2#animeTitle
    ul#animeResultsList
  div#characterContainer
    div.titleDiv
      i.fa.fa-angle-left.fa-3x(aria-hidden='true')
      h2#characterTitle
    ul#characterResultsList
  div#personContainer
    div.titleDiv
      i.fa.fa-angle-left.fa-3x(aria-hidden='true')
      h2#personTitle
    ul#personResultsList
