extends layout

block content
  div#searchContainer
    ul#searchResultsList
  div#animeContainer
    h2#animeTitle
    ul#animeResultsList
  div#characterContainer
    h2#characterTitle
    ul#characterResultsList
  div#personContainer
    h2#personTitle
    ul#personResultsList
