p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

body {
  font-family: 'Open Sans','Roboto', sans-serif;
  background-color: #FFFFFF;
  margin: 0 auto 0 auto;
}

div {

}

#topDiv {
  width: 100%;
  padding-bottom: 10px;
  background-color: #79DBF6;
  overflow: hidden;
}

#topLeftDiv {
  width: 50%;
  float: left;
}

#topRightDiv {
  padding-top: 7px;
  padding-right: 5px;
  margin-left: 50%;
}

#bottomDiv {
  width: 100%;
  /* float: left;  98AFB5  2ECC71*/
  background-color: #FFFFFF;
}

#headerDiv {
  padding-left: 5px;

}

#currentUserDiv {
  font-size: 12px;
  float: right;
  text-align: right;
}

#searchBarDiv {
  font-size: 12px;
  text-align: right;
}

#searchBar {
  width: 100%;
}

/* SEARCH RESULTS CSS */

#searchContainer {
  text-align: center;
}

#searchResultsList{
  padding: 10px 0px 0px 0px;
  list-style-type: none;
}

.searchResultRow {
   display: inline;
}

.searchResultDiv {
  padding: 10px 0px 0px 0px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.imageName {
  font-size: 16px;
  display: block;
}

img.imageUrl{
  width: 75px;
  height: 110px;
}

/* SEARCH RESULTS CSS */

/* ANIME RESULTS CSS */

h2 {
  font-size: 20px;
  text-align: center;
}

#animeContainer {
}

#animeResultsList {
  padding: 10px 0px 0px 0px;
  list-style-type: none;
}

.animeResultRow {
  margin: 0px 0px 0px 0px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.animeResultRow:last-child {
  margin: 0px 0px 0px 0px;
  border: 1px solid black;
}

.characterInfoDiv{
  display: inline-block;
  vertical-align: top;
}

.characterImageName {
  font-size: 16px;
}

.characterImageRole {
  font-size: 14px;
  display: block;
}

img.characterImageUrl{
  width: 75px;
  height: 110px;
}
/* ANIME RESULTS CSS */

/* CHARACTER RESULTS CSS */

#characterContainer {
}

#characterResultsList {
  padding: 10px 0px 0px 0px;
  list-style-type: none;
}

.characterResultRow {
  margin: 0px 0px 0px 0px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.characterResultRow:last-child {
  margin: 0px 0px 0px 0px;
  border: 1px solid black;
}

.voiceActorInfoDiv{
  display: inline-block;
  vertical-align: top;
}

.voiceActorImageName {
  font-size: 16px;
}

.voiceActorImageLanguage {
  font-size: 14px;
  display: block;
}

img.voiceActorImageUrl{
  width: 75px;
  height: 110px;
}


/* CHARACTER RESULTS CSS */

/* VOICE ACTOR RESULTS CSS */


#personResultsList {
  padding:0px 0px 0px 0px;
  list-style-type: none;
}

.personResultRow {
  margin: 0px 0px 0px 0px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.personResultRow:last-child {
  margin: 0px 0px 0px 0px;
  border: 1px solid black;
}


.voiceActorAnimeImageName {
  font-size: 10px;
  padding-left: 5px;
  display: block;
  float: left;
  text-align: left;
  width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.voiceActorCharacterImageName {
  padding-right: 5px;
  font-size: 10px;
  display: block;
  float: right;
  text-align: right;
  width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img.animeCharacterImageUrl{
  width: 60px;
  height: 88px;
}
/* 42, 62 */
/* 60, 88 */

.voiceActorPictureDiv {
  width: 60px;
}

.personResultDiv {
  height: 88px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.voiceActorTextDiv{
  flex-grow: 1;
}

/* VOICE ACTOR RESULTS CSS */
